.section-footer {
    .footer {
        padding: 3rem;
        margin: 10rem;
        &-navigation {
            text-align: center;
            padding: 40px;
        }
        &-navigation li {
            display: inline;
        }
        &-navigation a {
            text-decoration: none;
            padding: 0 30px;
            /* variable width */
        }
    }
}